.nav-link{
  @media (max-width:991px) {
    text-align: center;
    padding: 10px;
    &:hover{
      background-color: $secondary;
    }
  }
}

.banner {
  .card{
    height: 400px;
    @include media-breakpoint-up(lg){
      height: 590px;
    }
  }
}

.bg-hover{
  transition: all .3s;
  &::after{
    transition: all .3s;
    content: "";
    background-color: rgba(0,0,0,0);
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0; 
  }
  &:hover{
    transform: scale(1.1);
    &::after{
      background-color: rgba(255,255,255,.6);
    }
    .bg-hover-text{
      color: rgba(0,0,0,1);
    }
  }
  
}

.bg-hover-text{
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0,0,0,0);
}

.has-secondary-img{
  img{
    transition: opacity .3s;
  }
  &:hover{
    img{
      opacity: 0;
    }
  }
}

.productList{
  @media (max-width:767px) {
    display: none;
  }
}

.position-md-absolute{
  position: absolute ;
  @media (max-width:767px) {
    position: static ;
  }
}

.object-cover {
  object-fit: cover !important;
}

footer{
  li{
    margin-top: 10px;
    margin-bottom: 10px;
    &:first-child{
      margin-top: 0;
    }
  }
  a{
    color: #000;
  }
}

.text-hover{
  &:hover{
    color:$primary;
  }
}

.swiper-pagination{
  bottom: 0;
}

@media (max-width:767px) {
  .bg-md-transparent{
    background-color:rgba(0,0,0,0) !important;
  }
  .text-md-light{
    color:#fff;
  }
}
