@import '../node_modules/bootstrap/scss/bootstrap';

//custom components & css
@import 'components/productCard';
@import 'index';
@import 'collections';
@import 'products';
@import 'login';
@import 'shoppingcart';

//google-font-icon size
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

body{
  font-weight:300;
}

a{
  text-decoration: none !important;
}

.bg-cover{
  background-size: cover;
  background-position: center;
}

.material-icons{
  &:hover{
    opacity: .6;
  }
}

.was-validated {
  .form-check-input:valid ~ .form-check-label, .form-check-input.is-valid ~ .form-check-label {
    color: $dark;
  }
  .form-check-input:valid:checked, .form-check-input.is-valid:checked {
    background-color: $primary; 
  }
}

.preheader{
  .dropdown{
    @media (max-width:450px) {
      position: static;
    }
  }
  .dropdown-menu{
    @media (max-width:450px) {
      left: 0 !important;
      right: 0 !important;
    }
  }
}

//animated
.animated{
  opacity: 0;
  transition:all 1s ease;
  transform:translateY(20px);
}
.fadeIn{
  opacity: 1;
  transform:translateY(0);
}